<footer>
  <!-- <div class="color-showcase">
    <p><span style="color: var(--red);">Red</span>
      <span style="color: var(--orange);">Orange</span>
      <span style="color: var(--yellow);">Yellow</span>
      <span style="color: var(--green);">Green</span>
      <span style="color: var(--cyan);">Cyan</span>
      <span style="color: var(--blue);">Blue</span>
      <span style="color: var(--violet);">Violet</span>
      <span style="color: var(--pink);">Pink</span></p>
  </div> -->

  <p>&copy; 2026 Chris Goss. All rights reserved.</p>
</footer>

<img id="Preview" src="" alt="" aria-hidden="true" hidden />